Source: Agenda
Section: user/office
Priority: extra
Maintainer: Wes Hardaker <wjhns177@hardakers.net>
Build-Depends: debhelper (>= 5), libqt4-dev
Standards-Version: 3.7.2
XSBC-Bugtracker: mailto:wjhns177@hardakers.net
XB-Maemo-Icon-26: 
 iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAABGdBTUEAALGP
 C/xhBQAAAAFzUkdCAK7OHOkAAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUw
 AADqYAAAOpgAABdwnLpRPAAAAAZiS0dEAAAAAAAA+UO7fwAAAAlwSFlzAAAL
 EwAACxMBAJqcGAAAAAl2cEFnAAAAMAAAADAAzu6MVwAACpVJREFUaN7dmn9w
 VNUVxz/3vbzdzS+ySTaBJGSTEECokRga8qNBUIMMQ/llWip0kM6gGRgVO1KR
 FuvYjuiUsZ2xKjodWhVlhpYAMzAoPwQGA9KCgCH8kGkgQQIJISG/ls1m9+17
 t38siUkgIT8Wnel35v2x7+0993zPPfe8c859guAiBIgF4gA7EHbrHoAJeIAW
 4AZQD7QPdUIRJMVTgZ8CYwDnrd8Jt0hYbv3HAFqBOuAycAn4FtgHnADkD0FA
 BaYCv9c0rWDYsGGW+Ph40tLSSElJISEhgaioKIQQuN1u6urquHz5MlVVVdTU
 1NDS0kJ7e/s54C/ARsD3fRNIBz5MSkp6aO7cuUyfPp2oqCg0TUPTNEJCQlAU
 BSEEpmni9/vRdR1d1/F4PBw9epSSkhLOnz//rWEYxcDnA1UgZKAD7rACYYWF
 hSxevBhN0zofSCmRUmIYRuc9RVGw2WzYbDYiIyOZPXs2qqryxhtv2Dwej3Ww
 CgwFEcDMhoaGFJ/PJ2JjYwEwDAMpAy4thEAI0UnG5/PR3t5OS0sLBw4coKSk
 RNbV1V2XUm4HKgeqwFBcyApMAJ4CFgshQmNiYkhPTycrK4uMjAxGjRpFdHQ0
 hmFQX19PRUUF5eXlnDlzhqtXr+JyufB6vTqBPfBHBhGVBrMCGvAI8Gtgtaqq
 05xOp/boo48yefJkJk6cyPjx40lOTiY6OhpN09B1Ha/Xi67raJqGw+HAYrHQ
 1NSEx+MRBMLtCKABuH4vVyANeA6YHx4enpyZmcnMmTMZPXo0ycnJREREIKXE
 NE2klLhcLnRdJzQ0lLCwsE53AmhsbOTKlSuUl5ezc+dOqqqq8Hq9p4F/AJ8A
 jcEkoAGPAWtsNtuErKwsdeHChWRmZhIREYGiKJ1Kd8WqVas4efIkixcvZsmS
 Jei6/t3EQqAoCobhp7m5mYMHv2Dbtm2cP3/ea5rmbuAPQNndFOtPFLIBS4CX
 kpKSUhYtWsS0adOIiYm5Y6TpCpfL1eEmtz3rGHejSUVVY5k3bx7Z2dls3brV
 un379rmtra2JwCvAXvp4yd2NgBVYLoT47YQJE2KWLl1KXl5ep+J3XV4h+ngG
 7V549+MwwsMkK55yk5Li5JlnniE1NZUPPvhg0tWrV98GVgE7CKQit0HpY/5Q
 4HkhxOopU6bEvPzyy+Tl5d3RVQYDIWD/ESsnzmjkPaijKGAYJhaLhTlz5rB6
 9WrGjBkzlkCEmkUv7t4bARWYD7yYn59vf+GFF0hPT8c0TYIBRYGqapVNO0KZ
 kuMj98HvMggpJUIIcnNzWbFiBWlpaaOA14HcgRDIAV4ZN25c/LJly3A6nUGx
 ege8Pti800aIKlk424O1l3fwpEmTKC4uxuFw3A+8SiBRvCsBB7DG4XCMLi4u
 JiMjI2iWh4Dr/PuEhdJjFubPbMeZaNKbeCEEhYWFLFiwQGiaNh14nsC+7JWA
 AH6uqmr2jBkzmDp1atCVr72u8NHWUPIm6kyb7MXoQ7yUkpCQEObPn09WVpZC
 wK2z+yKQDCxITEwcVlRU1GcUGYzyhgHbP7fR2KLwyzkerJa7j5NSEhERwRNP
 PEF4eLgTWEQgwNxGQAD5QojJs2bNYuTIkUH1eyHg2CmNnQesPP2LNkY5Dfor
 XghBVlYW+fn5AI8TyAhuIxAGPO5wONT8/PxuqfGQlQeaWxQ+3hbGA/f5mZo3
 sLrFNE1iYmLIzc3FZrNFA3PvRCAGmJKTk0NKSkpQfd+UsPkzGw2NCovmebBH
 yn5bvwOGYZCTk4PT6bQAD3OrVO1KIF1RlPD09HTsdntQ3af8fAi7D1qZ85iH
 H43x97lxe4OUkqSkJJKSkiDQNEjqSWBCRESENSEh4bZiZKBXTxwts5A4wmTe
 Y94hy0xJSUFV1TgC5Wy3XOj+6OhoS3JyMqZpous6N2/eHLClhBCdhfyzzy5n
 eEoxpSdH87MZLsJCfTQ2Dk3m2LFjsVgssR6PJ60ngYRhw4aJESNGoKoqp0+f
 ZtWqVQOezG63s379eqKjo7E7HuBstZ3YOJM9pQa11cf427oXB+z/XWWmpqai
 aVqox+Nx9CRgtVqtnUWJrus0NTUNmADQ6YKmaRJr93GtXmHXQRtfHQuhsXFo
 Mu12O4qiQKBG6Z5Od83vx40bx7p16wY8kaZpnUaICm9m5tQW/v6vWExD43pz
 JpHOT3jy8TYmjPfTSxnRq8wOo3RFVwJuj8dDc3Mz8fHx2O12CgoKBmUtv98P
 wOuvr+HEiZNkTlpCwvDlfHUqGrf5CJ8f9zMp9yY/zvDT32jt9/uRUlJfX49h
 GJJAm7JbFPq2paXFrKmpQVEUpJT4/f5BXR1obQ1UZGNTXaxc6iYny4dp+Km4
 CK/+OZQv/iMwjIHJrKysRNf1mwRalN0InGlqavJWV1cHLQfqKmf8aD8ri2/y
 UI4PIeDyVZU170Zy6Kt+JERdUFFRgc/nawAu9iRQ3tbW5r127VpQX2IdkBLS
 nQYrl96kcLIXFKi7rvDaXyPY/6WlX5HJMAyqq6sxTfOOBKqBxrNnz1JfX9+x
 04NKwJSQNNzkxWI3Mx72ggDXTYVLV9W7tqYVRaGiooLq6mqAGgLt+W6buAn4
 tKysbHlVVRVxcXFBX4UOIvGxJr952k2IKomMkCyY1Y5yF68VQnD8+HFqamra
 CRT5Rs8V8AKfulwu1969e2lvH/LZQ68wJcTYTVYtc/Pck21EhPdtf0VRqKmp
 obS0FL/ff4UuXeyefnIc2Hvw4EHOnTsX1IKmJ6SEUJvEar17ZmoYBocPH+b0
 6dMQ6Npd643ADWBjY2Pj9c2bN+Pz+e4pif5AURQaGhooKSlB1/UyYAvQ2eK7
 007dLaX8rLS01Ny8eTOGYfxgJIQQtLa28v7773Px4kU38CFwvhvBO4xrB17z
 eDyHN23aRGlp6T0Jq/1R3uv1smXLFvbv3++XUm4ENtCjQ9dbrKwCXr127do3
 7733Hl9//XWn0O9LeV3X2bVrFxs3bpRut/sA8CcCJ5zd0BsBCZQCv6usrLyw
 du1aDh069L24k6IouN1utm7dyjvvvCObm5tLgZUETjVvQ1/NXZNAvOXChQtr
 33zzzftqamooKirCYrHcE7fq2LAbNmxgx44dpsvlOgC8BJT3NqY/JzT/Bb5x
 uVyjT506lVxbW0tCQgIxMTGEhPTd3E5PT6ewsJDs7OzOdLgnhBCoqorX6+X4
 8eO89dZb7Nu3T/d4PFtvKX+mrzkG4g/3Aa8IIWYlJiZGFRUVUVBQQGpqKjab
 rdvBXqd1VLXziLVnHq8oCoqi0NraSkVFBXv27GHv3r00NzdfAT4C3uZWuhAs
 AgCRQBHwlBDiJ06nUy0oKCAjI4OJEyficDhus24HupKTUnLp0iXKysooLy/n
 yJEj3Lhxow34FFgPHKRLrA8mgQ6kEejN/ArIjIyMjExOTlaHDx/OyJEjGTVq
 FE6nk7i4OCwWC21tbdTV1XHp0iUqKyupra2ltraWK1eueL1ebyuwH/gn8CWB
 g75+Y6ghJZqAa80h0L+PUlU1VtO0WE3TIlVV7bS4YRiGrustPp+vUUp545ai
 B4DdBL6ZcA9GgWDGRCswnMCHHilAPIF2pSAQ0VxALd995HED8A9inv8v/A9F
 z6ECkoOjeAAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcA
 AAAldEVYdGRhdGU6Y3JlYXRlADIwMTAtMDktMjdUMTE6MTg6NTItMDc6MDCL
 zsmOAAAAJXRFWHRkYXRlOm1vZGlmeQAyMDEwLTA5LTI3VDExOjE4OjUyLTA3
 OjAw+pNxMgAAAABJRU5ErkJggg==
 ====

Package: Agenda
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: An agenda timer that keeps track of topics and allocated time.
 Agenda Timer is a tool for keeping meetings on time.  After the
 creation of a simple text agenda (with times) you can start a timer
 that will keep track of how much time you spend on each topic, how
 much total time you're ahead or behind by, etc.
XSBC-Bugtracker: mailto:wjhns177@hardakers.net
XSBC-Maemo-Display-Name: Agenda Timer
XB-Maemo-Icon-26: 
 iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAABGdBTUEAALGP
 C/xhBQAAAAFzUkdCAK7OHOkAAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUw
 AADqYAAAOpgAABdwnLpRPAAAAAZiS0dEAAAAAAAA+UO7fwAAAAlwSFlzAAAL
 EwAACxMBAJqcGAAAAAl2cEFnAAAAMAAAADAAzu6MVwAACpVJREFUaN7dmn9w
 VNUVxz/3vbzdzS+ySTaBJGSTEECokRga8qNBUIMMQ/llWip0kM6gGRgVO1KR
 FuvYjuiUsZ2xKjodWhVlhpYAMzAoPwQGA9KCgCH8kGkgQQIJISG/ls1m9+17
 t38siUkgIT8Wnel35v2x7+0993zPPfe8c859guAiBIgF4gA7EHbrHoAJeIAW
 4AZQD7QPdUIRJMVTgZ8CYwDnrd8Jt0hYbv3HAFqBOuAycAn4FtgHnADkD0FA
 BaYCv9c0rWDYsGGW+Ph40tLSSElJISEhgaioKIQQuN1u6urquHz5MlVVVdTU
 1NDS0kJ7e/s54C/ARsD3fRNIBz5MSkp6aO7cuUyfPp2oqCg0TUPTNEJCQlAU
 BSEEpmni9/vRdR1d1/F4PBw9epSSkhLOnz//rWEYxcDnA1UgZKAD7rACYYWF
 hSxevBhN0zofSCmRUmIYRuc9RVGw2WzYbDYiIyOZPXs2qqryxhtv2Dwej3Ww
 CgwFEcDMhoaGFJ/PJ2JjYwEwDAMpAy4thEAI0UnG5/PR3t5OS0sLBw4coKSk
 RNbV1V2XUm4HKgeqwFBcyApMAJ4CFgshQmNiYkhPTycrK4uMjAxGjRpFdHQ0
 hmFQX19PRUUF5eXlnDlzhqtXr+JyufB6vTqBPfBHBhGVBrMCGvAI8Gtgtaqq
 05xOp/boo48yefJkJk6cyPjx40lOTiY6OhpN09B1Ha/Xi67raJqGw+HAYrHQ
 1NSEx+MRBMLtCKABuH4vVyANeA6YHx4enpyZmcnMmTMZPXo0ycnJREREIKXE
 NE2klLhcLnRdJzQ0lLCwsE53AmhsbOTKlSuUl5ezc+dOqqqq8Hq9p4F/AJ8A
 jcEkoAGPAWtsNtuErKwsdeHChWRmZhIREYGiKJ1Kd8WqVas4efIkixcvZsmS
 Jei6/t3EQqAoCobhp7m5mYMHv2Dbtm2cP3/ea5rmbuAPQNndFOtPFLIBS4CX
 kpKSUhYtWsS0adOIiYm5Y6TpCpfL1eEmtz3rGHejSUVVY5k3bx7Z2dls3brV
 un379rmtra2JwCvAXvp4yd2NgBVYLoT47YQJE2KWLl1KXl5ep+J3XV4h+ngG
 7V549+MwwsMkK55yk5Li5JlnniE1NZUPPvhg0tWrV98GVgE7CKQit0HpY/5Q
 4HkhxOopU6bEvPzyy+Tl5d3RVQYDIWD/ESsnzmjkPaijKGAYJhaLhTlz5rB6
 9WrGjBkzlkCEmkUv7t4bARWYD7yYn59vf+GFF0hPT8c0TYIBRYGqapVNO0KZ
 kuMj98HvMggpJUIIcnNzWbFiBWlpaaOA14HcgRDIAV4ZN25c/LJly3A6nUGx
 ege8Pti800aIKlk424O1l3fwpEmTKC4uxuFw3A+8SiBRvCsBB7DG4XCMLi4u
 JiMjI2iWh4Dr/PuEhdJjFubPbMeZaNKbeCEEhYWFLFiwQGiaNh14nsC+7JWA
 AH6uqmr2jBkzmDp1atCVr72u8NHWUPIm6kyb7MXoQ7yUkpCQEObPn09WVpZC
 wK2z+yKQDCxITEwcVlRU1GcUGYzyhgHbP7fR2KLwyzkerJa7j5NSEhERwRNP
 PEF4eLgTWEQgwNxGQAD5QojJs2bNYuTIkUH1eyHg2CmNnQesPP2LNkY5Dfor
 XghBVlYW+fn5AI8TyAhuIxAGPO5wONT8/PxuqfGQlQeaWxQ+3hbGA/f5mZo3
 sLrFNE1iYmLIzc3FZrNFA3PvRCAGmJKTk0NKSkpQfd+UsPkzGw2NCovmebBH
 yn5bvwOGYZCTk4PT6bQAD3OrVO1KIF1RlPD09HTsdntQ3af8fAi7D1qZ85iH
 H43x97lxe4OUkqSkJJKSkiDQNEjqSWBCRESENSEh4bZiZKBXTxwts5A4wmTe
 Y94hy0xJSUFV1TgC5Wy3XOj+6OhoS3JyMqZpous6N2/eHLClhBCdhfyzzy5n
 eEoxpSdH87MZLsJCfTQ2Dk3m2LFjsVgssR6PJ60ngYRhw4aJESNGoKoqp0+f
 ZtWqVQOezG63s379eqKjo7E7HuBstZ3YOJM9pQa11cf427oXB+z/XWWmpqai
 aVqox+Nx9CRgtVqtnUWJrus0NTUNmADQ6YKmaRJr93GtXmHXQRtfHQuhsXFo
 Mu12O4qiQKBG6Z5Od83vx40bx7p16wY8kaZpnUaICm9m5tQW/v6vWExD43pz
 JpHOT3jy8TYmjPfTSxnRq8wOo3RFVwJuj8dDc3Mz8fHx2O12CgoKBmUtv98P
 wOuvr+HEiZNkTlpCwvDlfHUqGrf5CJ8f9zMp9yY/zvDT32jt9/uRUlJfX49h
 GJJAm7JbFPq2paXFrKmpQVEUpJT4/f5BXR1obQ1UZGNTXaxc6iYny4dp+Km4
 CK/+OZQv/iMwjIHJrKysRNf1mwRalN0InGlqavJWV1cHLQfqKmf8aD8ri2/y
 UI4PIeDyVZU170Zy6Kt+JERdUFFRgc/nawAu9iRQ3tbW5r127VpQX2IdkBLS
 nQYrl96kcLIXFKi7rvDaXyPY/6WlX5HJMAyqq6sxTfOOBKqBxrNnz1JfX9+x
 04NKwJSQNNzkxWI3Mx72ggDXTYVLV9W7tqYVRaGiooLq6mqAGgLt+W6buAn4
 tKysbHlVVRVxcXFBX4UOIvGxJr952k2IKomMkCyY1Y5yF68VQnD8+HFqamra
 CRT5Rs8V8AKfulwu1969e2lvH/LZQ68wJcTYTVYtc/Pck21EhPdtf0VRqKmp
 obS0FL/ff4UuXeyefnIc2Hvw4EHOnTsX1IKmJ6SEUJvEar17ZmoYBocPH+b0
 6dMQ6Npd643ADWBjY2Pj9c2bN+Pz+e4pif5AURQaGhooKSlB1/UyYAvQ2eK7
 007dLaX8rLS01Ny8eTOGYfxgJIQQtLa28v7773Px4kU38CFwvhvBO4xrB17z
 eDyHN23aRGlp6T0Jq/1R3uv1smXLFvbv3++XUm4ENtCjQ9dbrKwCXr127do3
 7733Hl9//XWn0O9LeV3X2bVrFxs3bpRut/sA8CcCJ5zd0BsBCZQCv6usrLyw
 du1aDh069L24k6IouN1utm7dyjvvvCObm5tLgZUETjVvQ1/NXZNAvOXChQtr
 33zzzftqamooKirCYrHcE7fq2LAbNmxgx44dpsvlOgC8BJT3NqY/JzT/Bb5x
 uVyjT506lVxbW0tCQgIxMTGEhPTd3E5PT6ewsJDs7OzOdLgnhBCoqorX6+X4
 8eO89dZb7Nu3T/d4PFtvKX+mrzkG4g/3Aa8IIWYlJiZGFRUVUVBQQGpqKjab
 rdvBXqd1VLXziLVnHq8oCoqi0NraSkVFBXv27GHv3r00NzdfAT4C3uZWuhAs
 AgCRQBHwlBDiJ06nUy0oKCAjI4OJEyficDhus24HupKTUnLp0iXKysooLy/n
 yJEj3Lhxow34FFgPHKRLrA8mgQ6kEejN/ArIjIyMjExOTlaHDx/OyJEjGTVq
 FE6nk7i4OCwWC21tbdTV1XHp0iUqKyupra2ltraWK1eueL1ebyuwH/gn8CWB
 g75+Y6ghJZqAa80h0L+PUlU1VtO0WE3TIlVV7bS4YRiGrustPp+vUUp545ai
 B4DdBL6ZcA9GgWDGRCswnMCHHilAPIF2pSAQ0VxALd995HED8A9inv8v/A9F
 z6ECkoOjeAAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcA
 AAAldEVYdGRhdGU6Y3JlYXRlADIwMTAtMDktMjdUMTE6MTg6NTItMDc6MDCL
 zsmOAAAAJXRFWHRkYXRlOm1vZGlmeQAyMDEwLTA5LTI3VDExOjE4OjUyLTA3
 OjAw+pNxMgAAAABJRU5ErkJggg==
 ====
